## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
new_application_df = application_df.drop(columns=["EIN", "NAME"])

new_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
new_application_df.nunique(axis=0)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
AT_value_counts = new_application_df["APPLICATION_TYPE"].value_counts()
AT_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
AT_value_count_limit = 200
application_types_to_replace = AT_value_counts[AT_value_counts < AT_value_count_limit].index.tolist()
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    new_application_df['APPLICATION_TYPE'] = new_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
new_application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
C_value_counts = new_application_df['CLASSIFICATION'].value_counts()
C_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
C_value_counts[C_value_counts.values>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
C_value_count_limit = 101
classifications_to_replace = C_value_counts[C_value_counts < C_value_count_limit].index.tolist()
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    new_application_df['CLASSIFICATION'] = new_application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
new_application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
new_application_dummies_df = pd.get_dummies(new_application_df)
new_application_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = new_application_dummies_df.drop('IS_SUCCESSFUL', axis=1).values
y = new_application_dummies_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  50
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 30
hidden_nodes_layer4 = 20
model = tf.keras.models.Sequential()

# First hidden layer
model.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="para_relu"))
# Third hidden layer
model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="para_relu"))
# Forth hidden layer
model.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="para_relu"))
# Output layer
model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
model.summary()

ValueError: Unknown activation function: para_relu. Please ensure this object is passed to the `custom_objects` argument. See https://www.tensorflow.org/guide/keras/save_and_serialize#registering_the_custom_object for details.

In [13]:
# Compile the model
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = model.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7413
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7415
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7416
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5286 - accuracy: 0.7415
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5279 - accuracy: 0.7412
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7418
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7407
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7415
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7406
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7412
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7420
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7415
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5286 - accuracy: 0.7408
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5279 - accuracy: 0.7419
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7423
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7416
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5282 - accuracy: 0.7412
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7411
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7409
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7416
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7416
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5274 - accuracy: 0.7412
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7421
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7423
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7415
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7421
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7414
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7412
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7427
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5278 - accuracy: 0.7417
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5278 - accuracy: 0.7414
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5268 - accuracy: 0.7414
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7429
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7418
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5271 - accuracy: 0.7418
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7422
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7414
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5273 - accuracy: 0.7415
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7414
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5279 - accuracy: 0.7415
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5274 - accuracy: 0.7414
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5276 - accuracy: 0.7425
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7423
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5278 - accuracy: 0.7423
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7417
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7426
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5277 - accuracy: 0.7419
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5268 - accuracy: 0.7420
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5273 - accuracy: 0.7429
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5273 - accuracy: 0.7425

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5915 - accuracy: 0.7254 - 261ms/epoch - 972us/step
Loss: 0.5914924740791321, Accuracy: 0.7253644466400146

In [22]:
# Export our model to HDF5 file
model.save('AlphabetSoupCharity_Optimisation4.h5')